<% visitor=notification.visitor %>
<% visited = notification.visited %>
<% micropost=notification.micropost %>

<div class="user-view clearfix ">
  <%= link_to user_path(notification.visitor) do %>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  <br>
  <% if !@comment.nil? %>
    <p class="moderate-font"><%= @comment %></p>
  <% end %>
  <hr color="black" width="100%" size="3">
</div>
